.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: : auto auto auto;
  background-color: #000;
  padding: 10px;
  margin:2rem auto;
  max-width: 1000px;

}
.grid-item {
background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  max-width: 1000px;

}

.nav{
grid-column: 1/2;
grid-row: 1/4;
font-size: 15px;
box-sizing: border-box;
width: 200px;
height: 200px;
padding: 20px;    
border: 15px solid black;
text-align: left;
margin: 5rem auto;
font-family: }

#navigation{
  color:teal;
    text-align: justify;
    text-justify: inter-word;
    font-family: trajan;  
}

.main{
grid-column: 2/-1;
background-color: #eee;
text-align: center;
max-width: 1000px;


}


.first{
grid-column:2/-1;
background-color: #eee;
  font-size: 10px;

}

.second{
grid-column:2/-1;
  font-size: 10px;
}

.skills{
color: #008080;
font-size: 20px;
font-family: "Titillium Webs";
text-align: center;
list-style-type: none
}

#intro{
line-height: 1.3; 
}

#portfolioHeader {
    color: coral;
  font-size: 40px;
font-family: "Titillium Webs";
text-align: left;
}


#education{
color: #008080;
font-size: 20px;
font-family: "Titillium Webs";
text-align: center;
list-style-type: none
}


#projects{
color: #008080;
font-size: 20px;
font-family: "Titillium Webs";
text-align: center;
list-style-type: none
}


#virtualPetImage{
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 70%;
    transform: translate(-50%, -50%);

}

#virtualPetShelterImage{
   border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #imageMe{
  padding:1px;
   border:1px solid #021a40 round;
   background-color: coral;
}
     

#virtualPetsAmokImage{
   border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    height: 150px;
   position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#virtualPet{
 position: absolute;
 top: 300px;
    left: 27%;
}

#virtualPetShelter{
 position: absolute;
 top: 300px;
    left: 45%;
  }

#virtualPetsAmok{
 position: absolute;
 top: 300px;
    left: 66%;
}

#techInventory{
   top: 300px;
    left: 70%;
}

.contact{
grid-column:2/-1;
background-color: #eee;
  font-size: 10px;
}

.copyright{
grid-column:2/-1;
background-color: #eee;
font-size: 10px;
text-align: center;
}

h1 {
    text-shadow: 2px 2px 5px #008080;
}

ul {
    list-style-type: none;
}

body {
	background: #f2f0eb;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

a:active{
    color: #008080;
}
a:hover { 
    background-color: #ff69b4 ;
}

a:visited {
    color: #008080;
  }

#modalButton{
color: coral;
padding:1 em 2 em;
color: #fff;
border:0;
}

.button:hover{
background: #333;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%
  width:100%;
  overflow: auto;
  background-color:rgba(0,0,0,0.3);
}

.modal-content{
  background-color: #f4f4f4;
  margin:50%; auto;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7ox 20px 0 rgba(0,0,0,0,.17);
  animation-name: "modalopen";
  animation-duration: 2s;
}

.modal-header h2, .modal-footer h3{
margin: 0;
}

.modal-header{
  background:coral;
  color: #fff;
  padding:15px
}

.modal-footer{
background: coral;
padding: 10px;
color: #fff;
text-align:center;
}

.modal-body{
  padding:10px 20px;
}

.closeButton{
  color:#fff
  float:right;
  font-size: 30px;
}

.closeButon:hover, .closeButton:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity:1;}
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}