.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: : auto auto auto;
  background-color: #000;
  padding: 10px;
  max-width: 1000px;
  margin:2rem auto;
}
.grid-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.nav{
grid-column: 1/2;
grid-row: 1/4;
}

.main{
grid-column: 2/-1;
background-color: #eee;
}


.first{
grid-column:2/-1;
background-color: #eee;

}

.second{
grid-column:2/-1;
}




a:active{
    color: #008080;
}
a:hover { 
    background-color: #ff69b4 ;
}

a:visited {
    color: #008080;
}


h1 {
    text-shadow: 2px 2px 5px #008080;
}



ul {
    list-style-type: none;
}

body {
	background: #f2f0eb;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}



